# Виртуальное окружение и зависимости
.venv/
venv/
.env

# Файл базы данных (на сервере обычно используется отдельная база данных)
db.sqlite3

# Кэш Python
__pycache__/
*.pyc

# Файл локальных секретных настроек
local_settings.py

# Собранные статические файлы и загруженные пользователями медиа
media/

*.sock
