

.catalog-page {
    margin-top: 8rem; /* Чтобы не заезжало под фиксированный хедер */
    padding: 2rem;
    min-height: 80vh;
}

.catalog-header {
    text-align: center;
    margin-bottom: 3rem;
}

.catalog-header h1 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

/* Кнопки категорий */
.category-filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.filter-btn {
    text-decoration: none;
    padding: 0.6rem 1.5rem;
    border: 2px solid rgb(186 186 186 / 95%);
    color: #333333;
    border-radius: 25px;
    font-weight: 600;
    transition: all 0.3s;
}

.filter-btn:hover, .filter-btn.active {
    background: rgb(186 186 186 / 95%);
    color: white;
}

/* Сетка товаров */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.4rem 2rem 1.4rem;
    justify-items: center;
}

.product-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    transition: 0.3s;
    border: 1px solid #eee;
    max-width: 25em;
    width: 23rem;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.product-img-container {
    position: relative;
    height: 250px;
}

.product-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.status-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #0dad16;
    color: white;
    padding: 4px 10px;
    font-size: 0.8rem;
    border-radius: 4px;
}

.product-details {
    padding: 1.5rem;
}

.product-details h3 {
    margin-bottom: 0.5rem;
    color: #2c3e50;
}

.product-desc {
    font-size: 0.9rem;
    color: #666;
    height: 3rem; /* Ограничение высоты текста */
    overflow: hidden;
    margin-bottom: 1rem;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: 700;
    font-size: 1.2rem;
    color: #333;
}

.buy-btn {
    background: #5a7650;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.buy-btn:hover {
    background: #177c3e; /* Фиолетовый как на кнопке звонка */
}
