{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}


{% block content %}
    <main class="product-page">
        <div class="container">
            <div class="product-container">
                <!-- Лево: Фото -->
                <!-- <div class="product-gallery">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="main-image">
                </div> -->

                <div x-data="{ 
                    index: 0,
                    images: {{ images|safe }},
                    next() { this.index = (this.index + 1) % this.images.length },
                    prev() { this.index = (this.index - 1 + this.images.length) % this.images.length }
                }" class="relative w-full max-w-2xl mx-auto shadow-2xl rounded-xl overflow-hidden bg-white p-4 fotos">

                    <!-- Счётчик (по желанию) -->
                    <div class="absolute top-6 left-6 z-10 bg-black/50 text-white px-2 py-1 rounded text-sm" x-text="(index + 1) + ' / ' + images.length"></div>

                    <!-- Главное окно -->
                    <div class="relative h-96 bg-gray-200 rounded-lg overflow-hidden product-gallery">
                        <img :src="images[index]" class="w-full h-full object-contain transition-all duration-500 ease-in-out">
                        
                        <!-- Стрелка влево -->
                        <button @click="prev()" class="absolute left-2 top-1/2 -translate-y-1/2 bg-white/50 hover:bg-white p-3 rounded-full shadow-lg transition-transform active:scale-90">
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                        </button>

                        <!-- Стрелка вправо -->
                        <button @click="next()" class="absolute right-2 top-1/2 -translate-y-1/2 bg-white/50 hover:bg-white p-3 rounded-full shadow-lg transition-transform active:scale-90">
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                        </button>
                    </div>

                    <!-- Миниатюры (точки-превью) -->
                    <div class="flex justify-center gap-3 mt-6">
                        <template x-for="(img, i) in images" :key="i">
                            <div @click="index = i" 
                                :class="index === i ? 'ring-2 ring-blue-500 scale-110' : 'opacity-50 hover:opacity-100'"
                                class="w-16 h-12 cursor-pointer transition-all duration-200">
                                <img :src="img" class="w-full h-full object-cover rounded shadow">
                            </div>
                        </template>
                    </div>
                </div>


                <!-- Право: Инфо -->
                <div class="product-info-side">
                    <a href="javascript:history.back()" class="back-link">
                            ← Вернуться в каталог
                    </a>
                    <!-- <nav class="breadcrumb">
                        <a href="{% url 'catalog' %}">Каталог</a> / <a href="{% url 'catalog_by_category' 'sofas' %}">Диваны</a>
                    </nav> -->
                    <h1>{{ product.name }}</h1>
                    <p class="price" {% if product.is_green %}style="color: #177c3e;"{% endif %}>{% if product.is_from %}от {% endif %}{{ product.price|format_price }}₽</p>
                    
                    <div class="characteristics">
                        <div class="char-item"><span>Материал:</span> <span>{{ product.material }}</span></div>
                        <div class="char-item"><span>Срок изготовления:</span> <span>{{ product.production_time }}</span></div>
                        <div class="char-item"><span>Габариты:</span> <span>{{ product.dimensions }}</span></div>
                    </div>

                    <div class="description">
                        <h3>Описание</h3>
                        <p>{{ product.description }}</p>
                    </div>

                    <a href="{% url 'contacts' %}?product_slug={{ product.product_slug }}"><button class="order-btn-big">Оставить заявку</button></a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}



{% block extra_js %}
<script>
    tailwind.config = {
        corePlugins: {
        preflight: false,
        }
    }
</script>
{% endblock %}