/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #333;
    padding-top: 4.5rem; /* Отступ для фиксированной шапки */
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Этот элемент займет все оставшееся место */
    background-color: #ffffff;
}

/* Header */
header {
    background: rgb(186 186 186 / 95%);
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 4.5rem;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo-nav-order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.nav-order {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.mobile-nav-order {
    display: none;
}

.menu-toggle {
    display: none;
}

.logo {
    font-family: "Great Vibes", cursive;
    font-size: 50px;
    font-style: normal;
    min-width: 22rem;
}

a {
    text-decoration: none; /* Убирает подчеркивание */
    color: inherit;
}

.logo {
    margin-right: 2rem;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #2c3e50;
    font-weight: 600;
    min-width: 3rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 2rem;
}

.order-call {
    background: #5a7650;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;
    min-width: 9.8rem;
}

.order-call:hover {
    background: #177c3e;
}

/* Footer */
footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 2rem;
}

/* h2 {
    color: #ffffff;
} */

/* Responsive (Базовые стили для мобилок) */
@media (max-width: 768px) {

    /* body {
        padding-top: calc(5rem + env(safe-area-inset-top));
    } */
    

    header {
        flex-direction: column;
        height: calc(5rem + env(safe-area-inset-top));
        justify-content: flex-end;
        align-items: center;
        padding: 0;
    }

    .logo-nav-order {
        justify-content: center;
        align-items: center;
    }

    .logo {
    margin-right: 0rem;
    }
    
    nav {
        margin: 1rem 0;
    }
    
    .navigation {
    display: none;
    }

    .order-call {
        display: none;
    }
    
    .nav-order {
        display: none ;
    }
    
}
