{% extends 'base.html' %}
{% load static %}
{% load phone_tags %}

{% block title %}{{ seo.contacts_title }}{% endblock %}
{% block description %}{% spaceless %}
    {% if seo.contacts_description %}
        {{ seo.contacts_description }}
    {% else %}
        Контакты СМ Мебель в Екатеринбурге. Мы находимся по адресу: {{ seo_adress }}. Телефон: {{ site_settings.phone|safe }}. Звоните!
    {% endif %}
{% endspaceless %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/grid_try.css' %}">
{% endblock %}



{% block content %}
    <div class="contacts-body" id="contacts">
        <div class="big-grid">
            <div class="box1">
                <section class="order-form" id="order-section">
                    <h2 class="font-sans text-3xl font-semibold ">Заказать звонок</h2>
                    <form method="post" action="">
                        {% csrf_token %}
                        
                        <!-- Рендерим поля вручную, чтобы стили работали корректно -->
                        <div class="form-field form-field-1">
                            <label for="{{ form.name.id_for_label }}" class="font-sans text-1xl font-semibold ">{{ form.name.label }}</label>
                            {{ form.name }}
                        </div>
                        
                        <div class="form-field form-field-2">
                            <label for="{{ form.phone.id_for_label }}" class="font-sans text-1xl font-semibold ">{{ form.phone.label }}</label>
                            {{ form.phone }}
                        </div>

                        <div class="form-field form-field-3">
                            <label for="id_emeil" class="font-sans text-1xl font-semibold">Ваш имеил</label>
                            <input type="text" name="imail" aria-label="Не заполняйте это поле" maxlength="100" id="id_email" tabindex="-1" autocomplete="off">
                        </div>

                        <div style="display:none;">
                            <input type="text" name="honeypot" tabindex="-1" autocomplete="off">
                        </div>

                        <div class="form-field form-field-4">
                            <label for="{{ form.comment.id_for_label }}" class="font-sans text-1xl font-semibold">{{ form.comment.label }}</label>
                            {{ form.comment }}
                        </div>

                        <!-- Сюда JavaScript будет плавно вставлять текст ответа от Джанго -->
                        <div id="api-message" class="hidden mt-1 mb-2 p-4 rounded-xl text-sm font-semibold text-center select-none transition-all duration-300"></div>

                        <button type="submit" class="order-btn-big">Оставить заявку</button>
                        
                        <label class="policy_label">
                            <input class="policy_checkbox" type="checkbox" id="gdpr_check" required> 
                            <p class="policy_text">Я согласен на <a class="policy_link" href="/policy" target="_blank">обработку персональных данных</a></p>
                        </label>
                        
                    </form>
                </section>
            </div>
            <div class="box2">
                <div class="contact-info">
                    <h1 class="font-sans text-3xl font-semibold">{{ seo.contacts_h1 }}</h1>
                    <div class="contacts-contents grid grid-cols-[auto_1fr] gap-x-4 gap-y-0.5">
                        
                        <!-- Телефон -->
                        <div class="font-bold">Телефон:</div>
                        <div>
                            <a href="tel:{{ site_settings.phone|clean_phone }}" class="text-blue-600 hover:underline">
                                {{ site_settings.phone|safe }}
                            </a>
                        </div>

                        <!-- Email -->
                        <div class="font-bold">Email:</div>
                        <div class="text-amber-900">{{ site_settings.email|safe }}</div>

                        <!-- Адрес -->
                        <div class="font-bold">Адрес:</div>
                        <div>{{ site_settings.address|safe }}</div>

                        <!-- Режим работы -->
                        <div class="font-bold">Режим работы:</div>
                        <div class="self-end">{{ site_settings.working_hours|safe }}</div>
                        
                    </div>
                </div>
            </div>
            <div class="box3">
                <div class="map">
                    {{ site_settings.map_script|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}
